@font-face {
    font-family: 'Roboto';
    font-size: normal;
    font-weight: normal;
    src: url('../fonts/roboto-regular/RobotoRegular.eot');
    src: url('../fonts/roboto-regular/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/roboto-regular/RobotoRegular.woff2') format('woff2'),
         url('../fonts/roboto-regular/RobotoRegular.woff') format('woff'),
         url('../fonts/roboto-regular/RobotoRegular.ttf') format('truetype'),
         url('../fonts/roboto-regular/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/ptserif-regular/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ptserif-regular/PTSerif-Regular.woff') format('woff'), 
  url('../fonts/ptserif-regular/PTSerif-Regular.ttf')  format('truetype'), 
  url('../fonts/ptserif-regular/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
