@mixin clearfix {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin innerbox($marginLeftRight:0, $paddingLeftRight:0) {
    max-width: container();
    margin: 0 auto;
    @if $marginLeftRight==1 {
        $marginLeftRight: gutter(12);
        margin-left: $marginLeftRight;
        margin-right: $marginLeftRight;
    }
    @if $paddingLeftRight==1 {
        $paddingLeftRight: gutter(12);
        padding-left: $paddingLeftRight;
        padding-right: $paddingLeftRight;
    }
}

@mixin img_res {
    display: block;
    width: 100%;
    height: auto;
}

@mixin mir_button($color:$red, $textColor:#fff, $borderSize:0, $transparent:1) {
    @if($transparent == 1) {
        color: $textColor;
        background-color: $color;
        &:hover {
            background-color: darken($color, 10);
        }
    }
    @else {
        color: $color;
        background: none;
        &:hover {
            color: $textColor;
            background-color: $color;
        }
    }
    display: inline-block;
    min-width: 168px;
    padding: .4em 1.5em;
    border-radius: 2em;    
    border:$borderSize solid $textColor;
    text-decoration: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    @include adjust-font-size-to(16px, 1);    
    @include box-sizing(border-box);
    @include single-transition(all, 0.2s, ease-out, 0s);

}

@mixin remove_gallery {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    float: none;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &::-moz-placeholder {@content}
    &:-moz-placeholder {@content}
    &:-ms-input-placeholder {@content}
}

@mixin fontsize($size, $lineHeight){
    @include adjust-font-size-to($size, $lineHeight);
}

@mixin transall{
     @include single-transition(all, 0.3s, ease-out, 0s);
}