
a {
    text-decoration: none;
    color: $black;
    outline: none;
}

img {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    &.menu {
        li {
            list-style-image: none;
            list-style: none;
        }
    }
}

.pane-title {
    @include fontsize(22px, 1);
    // @include margin-leader(1);
    @include margin-trailer(1);
    color: $red;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    color: $red;
    border: 1px solid $red;
    background: $gold;
    width: 100%;
    max-width: 270px;
    padding: .5em .7em;
    @include box-sizing(border-box);
    @include placeholder {
        color: $red;
    }
}

#mini-panel-footer {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"] {
        color: $gold;
        border: 1px solid $gold;
        background: $red;
        max-width: 365px;
        @include placeholder {
            color: $gold;
        }
    }
    .pane-title {
        color: $gold;
    }
}

input[type="submit"] {
    @include mir_button($red, $gold, 1px);
}

textarea {
    color: $gold;
    border: 1px solid $gold;
    background: $red;
    width: 100%;
    padding: .5em .7em;
    @include box-sizing(border-box);
    @include placeholder {
        color: $gold;
    }
}

html {
    @include breakpoint(max-width 959px) {
        font-size: 87.5%;
        line-height: 1.71429em;
    }
}

body {
    font-family: 'PTSerif';
    color: $black;
}

.mir-button {
    &__red:not(.mir-button__mobile) {
        @include mir_button($red);
    }
    &__red.mir-button__mobile{
        @include breakpoint(max-width 799px){
            @include mir_button($orange_lang, $orange_lang, 2px, 0, 5px);
            &:hover{
                color:#fff;
            }
        }
        @include breakpoint(800px){
            @include mir_button($red);
        }
    }
}
.clearfix{
    @include clearfix;
}
.panels-flexible-region-mir_1-center {
    float: none;
    width: 100%;
}

.panels-flexible-mir_1 .panels-flexible-region-inside {
    padding-left: 0;
}

.panels-flexible-region-1-____________ {
    width: 100%;
    float: none;
}

.mir-colortext {
    &--base-red {
        color: $red;
    }
}

.content-col {
    &--small {
        @include span(4);
    }
    &--medium {
        @include span(6);
    }
    &--last {
        @include last;
    }
    img {
        @include img_res;
    }
}

//slick slider
.slick-slide {
    outline: none;
}

.slick-arrow {
    z-index: 2;
    &.slick-prev:before {
        color: $red;        
        content: '\f053';
        font-family: fontawesome;        
    }
    &.slick-next:before {
        color: $red;   
        content: '\f054';
        font-family: fontawesome;        
    }
}
.field-name-body img{
    margin:15px !important;
}