// colors 
$red:#a31418;
$black:#353535;
$gold:#edd6a2;
$gold_lite:#f2eede;
$gray_bg:#f8f8f8;
$gray_date:#6e6e6e;
$pink_lite:#fef6f6;
$gray_shadow:#e1e1e1;
$orange_lang:#d7611b;

// breakpoints

$outterbox:1195px;
$desktop_medium:960px;
$tablet:800px;
$mobile:360px;