@import "blocks/tabs";
@import "blocks/block-teaser";
@import "blocks/our-work-slider";
@import "blocks/portfolio";
@import "blocks/stats-object";
@import "blocks/sidebar";
@import "blocks/partners.scss";
@import "blocks/news";
@import "blocks/last-news";
@import "blocks/webform-69";
@import "blocks/mir-nav-buttons";
@import "blocks/press-release";
@import "blocks/jobs";
@import "blocks/executive";
@import "panels";
 