.panels-flexible-row-mir_1-main-row{
	.panels-flexible-row-1-2{

	}
	.panels-flexible-row-1-main-row{
		@include innerbox(0,1);
	}
}
.panels-flexible-region-mir_1-center {
    .pane-title {
        color: $red;
        @include fontsize(24px, 1.5);
    }
}

.stats-object__wrap{
    background: url(../images/stats_bg.jpg) no-repeat;
    background-size: cover;	
}
.stats-object {
	@include innerbox(0, 1);
    @include clearfix;    
    color: $gold_lite;
    @include padding-leader(2);
    @include padding-trailer(2);
    @include with-layout(split) {
        &__item {
            @include gallery(3);
            text-align: center;
            border-right: 2px solid $gold_lite;
            padding: 0 gutter(12);
            &:last-child {
                border: none;
            }
            min-height: 240px;
        }
        &__number {
            @include fontsize(72px, 4);
        }
        &__title {
            @include fontsize(48px, 3);
        }
        &__region {
            @include fontsize(24px, 1.5);
        }
    }
}
