@import 'blocks/main-menu';
.panels-flexible-row-33-main-row-inside{
	@include innerbox(0,1); 	
	.pane-page-logo{
		@include span(2);
	}
	.pane-superfish-1{
		@include span(2);
	}
	.pane-block-8{
		@include span(3);
		.pane-content{
			color: $red;
			@include fontsize(30px,2.5);	
		}
	}
	.pane-block-9{
		@include span(4);
		line-height: 3.5em;
		.pane-content{
			div{
				text-align: right;
			}
		}
	}

}

.panels-flexible-row-33-1-inside{
	@include innerbox(0,1);
}


.front .pane-page-logo{
		margin-bottom: -120px;
    	z-index: 2;
    	position: relative;
}	
.not-front .pane-page-logo{
	height: 60px;
	overflow: hidden;
	img{
		margin-top: -90px;
		max-width: 100%;
		display: block;
	}
}

.header-bottom{
	background: url(../images/footer_bottom_bg.jpg) no-repeat;
	background-size:  cover;
	color: $gold_lite;
	.pane-page-title h1{
		font-weight: normal;
	}
}
