@import 'blocks/main-menu';
@import 'blocks/searchform';
// .panels-flexible-row-33-main-row-inside{
#mini-panel-header {
    @include breakpoint(max-width 799px) {
        position: relative;
        min-height: 120px;
        @include innerbox(0, 1);
    }
    @include breakpoint($tablet) {
        .panels-flexible-row-33-main-row-inside {
            position: relative;
            @include innerbox(0, 1);
        }
    }
    .pane-page-logo {
        img {
            visibility: hidden;
            @include img_res;
        }
        @include breakpoint(max-width 799px) {
            background: url(../images/logo_lite.png) no-repeat center top;
            width: 63px;
            height: 120px;
            overflow: hidden;
            position: relative;
            z-index: 2;
            img {
                width: auto;
                margin-top: 0;
            }
        }
        @include breakpoint($tablet) {
            max-width: 138px;
            @include span(2);
            img {
                visibility: visible;
            }
        }
    }
    .pane-superfish-1 {
        @include breakpoint(max-width 799px) {
            position: absolute;
            // bottom: 0;
            top: 77px;
            width: 100%;
            background: $red;
            text-align: right;
            margin-left: -(gutter());
            height: 43px;
        }
        @include breakpoint($tablet) {
            @include span(1);
        }
        @include breakpoint($desktop_medium) {
            @include span(2);
        }
    }
    .pane-block-8 {
        .pane-content {
            color: $red;
            text-align: right;
            @include fontsize(16px, 1);
        }
        @include breakpoint(max-width 799px) {
            position: absolute;
            top: 5px;
            right: gutter();
            .pane-content {
                color: $black;
            }
        }
        @include breakpoint($tablet) {
            @include span(4);
            .pane-content {
                @include fontsize(30px, 2.5);
            }
        }
        @include breakpoint($desktop_medium) {
            @include span(3);
        }
    }
    .pane-locale-language-content {
        @include breakpoint(max-width 799px) {
            position: absolute;
            top: 85px;
            right: 75px;
        }
        @include breakpoint($tablet) {
            @include span(1);
        }
    }
    .pane-block-9 {
        position: relative;
        z-index: 999;
        line-height: 3.5em;
        @include breakpoint(max-width 799px) {
            position: absolute;
            top: 28px;
            right: gutter();
        }
        @include breakpoint($tablet) {
            @include span(3);
        }
        .pane-content {
            div {
                text-align: right;
            }
        }
    }
    .header-bottom {
        .pane-page-title h1 {
            font-weight: normal;
        }
        @include breakpoint(max-width 799px){
            .pane-page-title h1 {
                font-weight: normal;
                color: $red;             
                margin-bottom: 0;           
                @include fontsize(24px,1.5);
                padding-right: 40px;
            }
            .panels-flexible-row-33-1-inside{
                padding: 0;
            }
        }
        @include breakpoint($tablet){
            background: url(../images/footer_bottom_bg.jpg) no-repeat;
            background-size: cover;
            color: $gold_lite;
        }
    }
}

.panels-flexible-row-33-1-inside {
    @include innerbox(0, 1);
}

.front .pane-page-logo {
    margin-bottom: -120px;
    z-index: 2;
    position: relative;
}

.not-front .pane-page-logo {
    height: 60px;
    overflow: hidden;
    img {
        margin-top: -90px;
        max-width: 100%;
        display: block;
    }
}

.pane-block-8,
.pane-locale-language-content,
.pane-block-9 {
    .pane-content {
        // @include transall;        
    }
}
