.node-type-sale {
  .node-webform {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    .form-actions {
      text-align: center;
    }
  }
  article {
    /*@include respond-to(desctop_wide) {
      margin: 0 150px;
    }
    @include respond-to(desctop) {
      margin: 0 150px;
    }*/

    margin-bottom: 20px;
    h2 {
      color: $title_h2;
      font-family: $main-font;
      font-size: 20px;
      margin: 30px 0 16px 0;
      @include bold_font;
    }
    h3 {
      color: $title_h3;
      font-size: 18px;
      font-family: $main-font;
      margin: 24px 0 10px 0;
      @include bold_font;
    }
    h4 {
      color: $title_h3;
      font-size: 16px;
      font-family: $main-font;
      margin: 18px 0 10px 0;
      @include bold_font;
    }
    a {
      color: $color_1;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      line-height: 21px;
    }
    ol {
      li {
        ul {
          padding-left: 13px;
        }
      }
    }
  }
}
.page-sale,
.page-taxonomy {
  .view-sale {
    .views-row {
      overflow: hidden;
      margin-bottom: 30px;
      &:after {
        content: '';
        display: block;
        overflow: hidden;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $title-line-color;
      }
      .views-field-title {
        margin-top: -6px;
      }
      .views-field-body {
        height: auto !important;
        p {
          margin-bottom: 0;
        }
      }
      .views-field-nothing {
        margin: 18px 0 30px;
      }
    }
  }
}





//Sales page(inside)
.field-name-field-sale-photo {
  @include float_left_img;
}
.field-name-field-end-date {
  width: 32%;
  overflow: hidden;
  margin-bottom: 20px;
}

.node-type-sale {
  .pane-page-content {
    overflow: hidden;
  }
  .pane-node-content {
    @include centered_div;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .pane-sale-panel-pane-6 {
    .pane-content {
      @include centered_div;
      @include respond-to(desctop_max) {
        .view-sale {
          /*padding: 0 150px;*/
          .views-field-field-end-date-1 {
            &:before {
              width: 32%;
            }
          }
        }
      }
      @include respond-to(desctop_wide) {
        .view-sale {
          /*padding: 0 150px;*/
          .views-field-field-end-date-1 {
            &:before {
              width: 32%;
            }
          }
        }
      }
      @include respond-to(desctop) {
        .view-sale {
          /*padding: 0 150px;*/
          .views-field-field-end-date-1 {
            &:before {
              width: 32%;
            }
          }
        }
      }
    }
  }
  .field-name-body {
    @include content_margin;
  }
  .pane-sale-panel-pane-9 {
    overflow: hidden;
    clear: both;
    margin-bottom: 40px;
    @include centered_div;
    .pane-title {
      @include title_1;
    }
    .pane-content {
      position: relative;
    }
    .view-sale {
      .item {
        @include respond-to(phone) {
          padding: 0px 50px;
        }
        @include respond-to(min-phone) {
          padding: 0px 50px;
        }
      }
      .views-field-field-sale-photo,
      .views-field-field-offerings-image {
        float: left;
        margin-right: 30px;
        padding: 0;
        position: relative;
        @include bodrered_image(1px, $title-line-color);
        @include img_hover;
        .field-content {
          overflow: hidden;
          position: relative;
        }
      }
      .views-field-title {
        text-align: left;
        font-size: 16px;
        a {
          //          color: $title-color;
          @include hover-link_3(16px);
        }
      }
      .views-field-body {
        color: $text_color;
        font-size: 13px;
        text-align: left;
        overflow: hidden;
      }
      .views-field-field-old-price {
        float: left;
        text-decoration: line-through;
        font-size: 16px;
        margin-right: 10px;
      }
      .views-field-field-sale-price {
        color: $color_2;
        @include bold_font;
        font-size: 16px;
      }
      .views-field-field-end-date {
        overflow: hidden;
        .views-label {
          color: $title-color;
          float: left;
        }
      }
    }
  }
  #sale-page-block {
    overflow: hidden;
    clear: both;
    padding: 50px 0;
  }
  .view-sale {
    .item {
      @include respond-to(phone) {
        padding: 0px 50px;
      }
      @include respond-to(min-phone) {
        padding: 0px 50px;
      }
    }
    .views-row {
      overflow: hidden;
      margin-bottom: 15px;
      .views-field-field-sale-photo,
      .views-field-field-offerings-image {
        @include float_left_img;
        padding: 0;
        position: relative;
        .field-content {
          overflow: hidden;
          position: relative;
        }
      }
      .views-field-body {
        color: $text_color;
        font-size: 15px;
        text-align: left;
        //        height: 55px;
        height: auto;
        overflow: hidden;
      }

      .views-field-field-end-date-1 {
        background: $color_6;
        overflow: hidden;
        padding: 22px 0px;
        position: relative;
        &:before {
          content: '';
          display: block;
          height: 100%;
          width: 30%;
          position: absolute;
          top: 0px;
          left: 0px;
          background: #d1eff6;
          @include respond-to(phone) {
            width: 100%;
          }
          @include respond-to(min-phone) {
            width: 100%;
          }
        }
        .col-1 {
          font-size: 16px;
          margin-top: 10px;
          @include respond-to(phone) {
            text-align: center;
          }
          @include respond-to(min-phone) {
            text-align: center;
          }
          div {
            span.label {
              @include bold_font;
              color: $title-color;
              font-size: 16px;
              padding: 0;
            }
          }
          .expression {
            color: $color_2;
            span {
              @include bold_font;
              color: $title-color;
            }
          }
        }
        .col-2 {
          padding: 25px 0;
          font-size: 16px;
          @include respond-to(phone) {
            text-align: center;
          }
          @include respond-to(min-phone) {
            text-align: center;
          }
          .end-date {
            @include bold_font;
            color: $title-color;
          }
        }
        .col-3 {
          padding: 0;
          margin-top: 10px;
          a {
            @include site_button($color_2, $hover-button);
            width: 100%;
            padding: 10px 0;
          }
        }
        .col-4 {
          @include respond-to(desctop_wide) {
            padding: 0;
          }
        }
      }
    }
  }

  .pane-sale-panel-pane-8 {
    .view {
      .view-content {
        .views-row {
          padding: 25px 15px;
          position: relative;
          &:hover {
            .views-field-field-serv-icon {
              &:after {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
              }
              img {
                transform: translate(0,-70px);
                -webkit-transform: translate(0,-70px);
                -o-transform: translate(0,-70px);
                -moz-transform: translate(0,-70px);
              }
            }
            .views-field-title {
              a {
                text-decoration: underline;
              }
            }
          }
          .views-field-field-serv-icon {
            display: block;
            width: 70px;
            height: 70px;
            top: 0;
            position: absolute;
            bottom: 0;
            margin: auto;
            -webkit-transition: background 0.2s, color 0.2s;
            -moz-transition: background 0.2s, color 0.2s;
            transition: background 0.2s, color 0.2s;
            &:after {
              pointer-events: none;
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              content: '';
              -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box;
              top: -7px;
              left: -7px;
              padding: 7px;
              box-shadow: 0 0 0 4px $color_1;
              -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
              -webkit-transform: scale(0.8);
              -moz-transition: -moz-transform 0.2s, opacity 0.2s;
              -moz-transform: scale(0.8);
              -ms-transform: scale(0.8);
              transition: transform 0.2s, opacity 0.2s;
              transform: scale(0.8);
              opacity: 0;
            }
            @include respond-to(tablet) {
              width: 62px;
              height: 62px;
            }
            @include respond-to(phone) {
              width: 62px;
              height: 62px;
            }
            @include respond-to(min-phone) {
              width: 62px;
              height: 62px;
            }
            .field-content {
              height: 70px;
              width: 70px;
              overflow: hidden;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          .views-field-title {
            @include respond-to(tablet) {
              font-size: 14px;
              padding: 6px 0px 6px 75px;
            }
            @include respond-to(phone) {
              font-size: 14px;
              padding: 6px 0px 6px 75px;
            }
            @include respond-to(min-phone) {
              font-size: 14px;
              padding: 6px 0px 6px 75px;
            }
            padding: 10px 0px 10px 98px;
            font-size: 16px;
            font-weight: 400;
            a {
              color: $text-color;
              text-decoration: none;
              text-transform: uppercase;

            }
          }
        }
      }
    }
  }

  .pane-node-field-desiase {
    overflow: hidden;
    clear: both;
    @include centered_div;
    font-size: 16px;
    padding: 0 0 50px 0;
    .field-label {
      color: $title-color;
    }
    .field-item {
      float: left;
      &:after {
        content: ',';
        color: $color_1;
        margin-right: 10px;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
      a {
        color: $color_1;
      }
    }
  }

  .pane-steps {
    .pane-content {
      @include centered_div;
    }
  }
}

.node-type-sale {
  .pane-page-content {
    > .pane-content {
      width: 100% !important;
    }
  }
}