/*** replace ******/

.view-id-main_slider.view-display-id-block_1 .views-row {
  height: 550px;
  position: relative;
  background-color: gray;
}

.view-id-main_slider.view-display-id-block_1 .views-row:before {
  background-color: #270102;
  opacity: 0.4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 525px;
  bottom: 0;
  content: '';
  z-index: 1;
}

.main-slider__title {
  color: #f2eede; /*в переменную*/
  margin-bottom: 10px;
  font-size: 42px; line-height: 1; /* В миксин */
}

.view-id-main_slider.view-display-id-block_1 .views-field-field-ms-slide-img > div > div {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-size: cover;
}

.main-slider__subtitle {
  color: #f2eede; /*в переменную*/
  font-size: 18px;  line-height: 1.3; /* В миксин наверно */
  margin-bottom: 17px;
  /* Еще тут шрифт другой, но я его не прописал, т.к. скорее всего это шрифт по умолчанию*/
}

.main-slider__link a {
  color: #edd6a2; /*в переменную*/
  border: 1px solid #e2bc93; /* возможно, цвет в переменную */
  padding: 4px 25px 6px;
  min-width: 115px;
  display: inline-block;
  text-align: center;
}

.view-id-main_slider.view-display-id-block_1 .views-field-nothing {
  max-width: 1170px; margin: 0 auto; padding-left: 2.12766%; padding-right: 2.12766%; /* Замени на миксин контейнера типа @include innerbox(0,1); */
  z-index: 2;
  position: relative;
}

.view-id-main_slider.view-display-id-block_1 .views-field-nothing .field-content {
  max-width: 510px;
  display: block;
  padding-top: 150px;
}
