.page-node-132 {
  .header,
  .breadcrumb,
  h4.pane-title,
  .footer {
    display: none;
  }
  .pane-for-404 {
    @include respond-to(desctop_max) {
      width: 67%;
      margin:  30px auto auto auto;
    }
    @include respond-to(desctop_wide) {
      width: 67%;
      margin:  30px auto auto auto;
    }
    @include respond-to(desctop) {
      width: 67%;
      margin:  30px auto auto auto;
    }
    width: 100%;
    margin-top: 30px;
  }
  .pane-page-logo {
    margin-top: 13px;
  }
  .pane-phone-number {
    font-size: 25px;
    text-align: center;
  }
  .pane-node-content {
    margin-top: 30px;
  }
}