
$color_1: rgba(7, 7, 7, 0.3);
$color_2: #72B639;

$color_3: #00526D;
$color_4: #3D3D3D;
$color_5: #3a3c41;
$color_6: #f2fafc;

//button colors
$hover_button: #F47710;


//other colors
$title-line-color: #B3B3B3;
$menu-link-color: #80CB54;

//colors for texts
$text_color: #181818;

//colors for titles
$title-color: #2C2C2C;
$title_h2: #2C2C2C;
$title_h3: #181818;