.view-view-block-teaser-section{
	  background: #f2eede;
  padding: 0 1.05263%;
  margin-left: -2.12766%;
  margin-right: -2.12766%;
  margin-bottom: 48px;
  margin-bottom: 3rem;
	.view-content{
		@include clearfix;
	}
    .views-row{
  position: relative;
  margin: 1.05263% 0;
  overflow: hidden;
        &:nth-child(8n+1){
            @include span(4);
        }
        &:nth-child(8n+2){
            @include span(8 last);
        }
        &:nth-child(8n+3){
            @include span(8);
        }
        &:nth-child(8n+4){
            @include span(4 last);
        }
        &:nth-child(8n+5){
            @include span(4);
        }
        &:nth-child(8n+6){
            @include span(4);
        }
        &:nth-child(8n+7){
            @include span(4 last);
        }
        &:nth-child(8n+8){
            @include span(8);
        }
        &:nth-child(8n+9){
            @include span(4 last);
        }

        &:hover .bt__bg-img {
		  -moz-transform: scale(1.5);
		  -ms-transform: scale(1.5);
		  -webkit-transform: scale(1.5);
		  transform: scale(1.5);
		}
    }


}

.bt__bg-img {
  -moz-transition: all 10s ease-out 0s;
  -o-transition: all 10s ease-out 0s;
  -webkit-transition: all 10s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 10s ease-out 0s;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-height: 264px;
  width: 100%;
}

.bt__title {
  position: relative;
  z-index: 2;
}

.bt__title a {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding: 2em;
  color: #fff;
  display: block;
  min-height: 264px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}