.view-view-block-teaser-section {
    background: $gold_lite;
    padding: 0 gutter();
    @include breakpoint($tablet) {
        padding: 0 gutter(24);
    }
    @include breakpoint($outterbox) {
        @include bleed-x(gutter(24));
    }
    .view-content {
        @include clearfix;
        padding: 1px 0;
    }
    .views-row {
        position: relative;
        overflow: hidden;
        margin: gutter() 0;
        @include breakpoint($tablet) {
            margin: gutter(24) 0;
        }
        @include breakpoint($tablet 899px) {
            @include gallery(6);
            &.views-row-last {
                @include span(full);
            }
        }
        @include breakpoint(900px) {
            &:nth-child(8n+1) {
                @include span(4);
            }
            &:nth-child(8n+2) {
                @include span(8 last);
            }
            &:nth-child(8n+3) {
                @include span(8);
            }
            &:nth-child(8n+4) {
                @include span(4 last);
            }
            &:nth-child(8n+5) {
                @include span(4);
            }
            &:nth-child(8n+6) {
                @include span(4);
            }
            &:nth-child(8n+7) {
                @include span(4 last);
            }
            &:nth-child(8n+8) {
                @include span(8);
            }
            &:nth-child(8n+9) {
                @include span(4 last);
            }
        }


        &:hover .bt__bg-img {
            @include transform(scale(1.5));
        }
    }
}

.bt__bg-img {
    @include single-transition(all, 10s, ease-out, 0s);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    min-height: 264px;
    width: 100%;
}

.bt__title {
    position: relative;
    z-index: 2;
    a {
        font-family: 'PTSerif';
        @include fontsize(20px, 4);
        padding: 2em;
        color: $gold_lite;
        display: block;        
        @include box-sizing(border-box);
        // min-height: 164px;
        text-align: center;
        text-transform: uppercase;   
        font-weight: bold;    
        @include breakpoint($tablet) {
          text-transform: none;
          font-weight: bold;
          text-align: left;
          font-weight: normal;
          min-height: 264px;
          @include fontsize(24px, 1.5);
        }
    }
}
