.pane-view-cert {
    @include innerbox(0, 1);
    @include margin-leader(2);
    @include margin-trailer(2);
}

.view-view-cert.view-display-id-block {
    padding: 2em;
    border: 6px solid $gold_lite;
    position: relative;
    .view-content {
        overflow: hidden;
    }
    .slick-list {
        margin-left: -30px;
    }
    .views-field {
        margin-left: 30px;
        img {
            @include img_res;
        }
    }
}

.certificate-slider-nav {
    display: block;
    width: 45px;
    height: 45px;
    color: $red;
    font-family: fontawesome;
    background: $gold;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    @include transall(.2s);
    &:hover {border-radius:25px;}
    &--prev {
        content: '\f053';
        left: -26px;     
    }
    &--next {
        content: '\f054';
        right: -26px;
    }
    .fa {
        line-height: 45px;
    }
}
