.pane-block-6 {
    padding-left: 50px;
    box-sizing: border-box;
    .fa {
        color: $red;
        border: 1px solid $red;
        margin-left: -50px;
        border-radius: 100%;
        width: 28px;
        height: 28px;
        float: left;
        text-align: center;
        line-height: 28px;
        margin-top: 5px;
    }
}

.pane-block-6 p {
    clear: left;
}

.mir-contact__webform:after {
    display: block;
    content: '';
    clear: both;
}

.webform-client-form-47 {}

.webform-component--mus-soobshchenie textarea {
    height: 125px;
    background: $gold_lite;
    border: 1px solid $red;
    @include placeholder {
        color: $red;
    }
}

.webform-client-form-47 .webform-component-textfield input {
    width: 100%;
    max-width: none;
}

.webform-client-form-47 .form-actions {
    text-align: right;
}

.mir-contact__webform .webform-client-form-47 .form-actions {
    margin-top: 25px;
}

#contacts__map-container {
    height: 515px;
    margin-top: 50px;
}

@include breakpoint($tablet) {
    .pane-webform-client-block-47 {
        .webform-component--mus-soobshchenie {
            float: right;
            width: 48%;
        }
        .webform-component-textfield {
            width: 48%;
            input {
                background: $gold_lite;
            }
        }
    }
}

@include breakpoint(920px) {
    .pane-block-6 {
        width: 50%;
        float: left;
        p {
            font-size: 18px;
        }
    }
    .mir-contact__webform {
        width: 50%;
        float: left;
        .webform-component--mus-soobshchenie textarea {
            min-height: 140px;
        }
    }
}

