/*** replace ******/

.view-id-main_slider.view-display-id-block_1 .views-row {
    height: 310px;
    position: relative;
    background-color: gray;
    @include breakpoint($tablet){
      height: 550px;      
    }
}

@include breakpoint($tablet) {
    .view-id-main_slider.view-display-id-block_1 .views-row:before {
        background-color: #270102;
        opacity: 0.4;
        display: block;
        position: absolute;
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        width: 50%;
        min-width: 525px;
        bottom: 0;
    }
}

.main-slider {
    &__title {
        color: $gold_lite;
        font-family: 'PTSerif';
        margin-bottom: 10px;
        @include fontsize(22px, 1);
        @include breakpoint($tablet) {
            @include fontsize(42px, 2);
        }
        line-height: 1;
        /* В миксин */
    }
    &__subtitle {
        display: none;
        @include breakpoint($tablet) {
            display: block;
        }
    }
}

.view-id-main_slider.view-display-id-block_1 .views-field-field-ms-slide-img > div > div {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-size: cover;
}

.main-slider__subtitle {
    color: #f2eede;
    /*в переменную*/
    font-size: 18px;
    line-height: 1.3;
    /* В миксин наверно */
    margin-bottom: 17px;
    /* Еще тут шрифт другой, но я его не прописал, т.к. скорее всего это шрифт по умолчанию*/
}

.main-slider__link a {
    color: $gold;
    font-family: 'PTSerif';
    border: 1px solid $gold;    
    padding: 4px 25px 6px;
    min-width: 115px;
    display: inline-block;
    text-align: center;
    @include transall;
    &:hover{
      // color: $black;
      color: $gold_lite;
      background: rgba($gold, 0.5);

      border: 1px solid $gold;
    }
}

.view-id-main_slider.view-display-id-block_1 .views-field-nothing {
    z-index: 2;
    @include breakpoint(max-width 799px) {
        background-color: rgba(39, 1, 2, .5);
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: gutter();
        @include box-sizing(border-box);
    }
    @include breakpoint($tablet) {
        position: relative;
        @include innerbox(0, 1);
    }
}

.view-id-main_slider.view-display-id-block_1 .views-field-nothing .field-content {
    display: block;
    @include breakpoint($tablet) {
        padding-top: 150px;
        max-width: 510px;
    }
}


// ----slider responsive
@media all and (max-width: 799px) {
  .view-id-main_slider.view-display-id-block_1 .views-field-nothing {
    padding-right: 110px;
  }
}


.view-id-main_slider.view-display-id-block_1 {
  position: relative;
}

.view-id-main_slider.view-display-id-block_1 .slick-arrows {
  position: absolute;
  bottom: 0px;
  width: 80px;
  right: 20px;
}
@media all and (min-width: 800px) {

  .view-id-main_slider.view-display-id-block_1 .slick-arrows {
    right: auto;
    width: 100%;
    bottom: 10px;
  }
}

.view-id-main_slider.view-display-id-block_1 .slick-arrows__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 2.12766%;
  padding-right: 2.12766%;
}

.view-id-main_slider.view-display-id-block_1 .slick-arrow  {
    width: 30px;
    height: auto;
    position: static;
    display: inline-block;
}

.view-id-main_slider.view-display-id-block_1 .slick-arrow:before {
    background: #edd6a2;
    height: 30px;
    display: block;
    color: #a31418;
    font-family: Arial;
    font-size: 28px;
}

.view-id-main_slider.view-display-id-block_1 .slick-prev:before {
  content: '\02039';
}

.view-id-main_slider.view-display-id-block_1 .slick-prev {
  margin-right: 10px;
}

.view-id-main_slider.view-display-id-block_1 .slick-next:before {
  content: '\0203A';
}


.view-id-main_slider.view-display-id-block_1 .slick-dots {
  bottom: 0;
  top: 0;
  right: 25px;
  width: 18px;
  display: none;
}

.view-id-main_slider.view-display-id-block_1 .slick-dots button {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2px solid #a31418;
  background-color: #efefef;
  border-radius: 100%;
}

.view-id-main_slider.view-display-id-block_1 .slick-dots__wrapper {
  display: table;
  height: 100%;
}
@media all and (max-width: 799px) {
  .view-id-main_slider.view-display-id-block_1 .slick-dots__wrapper {
    display: none;
  }
}

.view-id-main_slider.view-display-id-block_1 .slick-dots__wrapper1 {
  display: table-cell;
  vertical-align: middle;
}

.view-id-main_slider.view-display-id-block_1 .slick-dots li {
  margin: 0;
}

.view-id-main_slider.view-display-id-block_1 .slick-dots .slick-active button {
  background-color: #a31418;
}

.view-id-main_slider.view-display-id-block_1 .slick-dots button:before {
  content: none;
}
