.mir-nav-button__wrap {
    @include margin-trailer(1);
}

.mir-nav-button {
    display: inline-block;
    @include clearfix;
    font-family: 'PTSerif';
    &--left {
        float: left;
        a {
            &:before {
                content: '\f053';
                font-family: fontawesome;
                vertical-align: middle;
                color: $gray_date;
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
    &--right {
        float: right;
        a {
            &:after {
                content: '\f054';
                font-family: fontawesome;
                vertical-align: middle;
                color: $gray_date;
                display: inline-block;
                margin-left: 1em;
            }
        }
    }
    a {
        display: block;
        border: 2px solid $gray_date;
        padding: .2em .5em;
        &:hover {
            border: 2px solid $red;
        }
        @include breakpoint(max-width 359px){
            text-align: center;
            &:before, &:after{
                margin: 0;
            }
            span{
                display: none;
            }
        }
        @include breakpoint($tablet){
            padding: .5em 2em;
            @include fontsize(18px, 1);
        }
    }
}
