.view-id-view_our_work.view-display-id-page{
	.views-row{
		@include margin-trailer(1);
		@include breakpoint(320px){
			@include gallery(6);				
		}	
		@include breakpoint(640px){
			@include gallery(4);				
		}		
		@include breakpoint(900px){
			@include gallery(3);				
		}		
		img{
			@include img_res;
		}
		.views-field-title, .views-field-title-field-et{
			@include margin-leader(.5);
			@include margin-trailer(.5);
			a{
				font-weight: bold;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}