.panels-flexible-region-mir_1-left_sidebar{
  float: none;
  padding-right: 0;
  float: none;
  width: auto;
}

.panels-flexible-region-mir_1-left_sidebar-inside{
  padding-right: 0;
}

.pane-menu-menu-menu-about, .pane-view-ow-sections{
	background: $gray_bg;
	padding: 2em;
	@include margin-trailer(1);
	
		a{
			text-decoration: underline; 
			display: inline-block;
			padding: 0.3em 0;
			&.active, &:hover{
				font-weight: bold;
				text-decoration: none;
			}
		}
	
}

