.stats-object__wrap {
    background: url(../images/stats_bg.jpg) no-repeat;
    background-size: cover;
}

.stats-object {
    @include innerbox(0, 1);
    @include clearfix;
    @include padding-leader(2);
    @include padding-trailer(1);
    @include breakpoint($tablet) {
        @include padding-trailer(2);
    }
    a {
        color: $gold_lite;
    }
    @include with-layout(split) {
        &__item {
            @include gallery(6);
            @include margin-trailer(1);
            text-align: center;
            border-right: 2px solid $gold_lite;
            padding: 0 gutter(12);
            min-height: 160px;
            &:last-child {
                border: none;
            }
            @include breakpoint(max-width 799px) {
                &:nth-child(2) {
                    border: none;
                }
                &:nth-child(3),
                &:nth-child(4) {
                    .stats-object__number {
                        border-top: 2px solid $gold_lite;
                        margin-top: -10px;
                        padding-top: 10%;
                    }
                }
            }
            @include breakpoint($tablet) {
                @include gallery(3);
            }
        }
        &__number {
            @include fontsize(60px, 3);
        }
        &__title {
            @include fontsize(30px, 2);
        }
        &__region {
            @include fontsize(17px, 1);
        }
        @include breakpoint($tablet) {
            &__number {
                @include fontsize(72px, 4);
            }
            &__title {
                @include fontsize(48px, 3);
            }
            &__region {
                @include fontsize(24px, 1.5);
            }
        }
    }
}
