.pane-webform-client-block-69 {
    background: url(../images/webform_bg_2.jpg) no-repeat;
    background-size: cover;
    @include padding-trailer(2);
    @include margin-leader(2);
    @include margin-trailer(1);
    .pane-title {
        color: $gold_lite;
        text-align: center;
        @include padding-leader(1);
        @include margin-trailer(2);
    }
    .pane-content {
        @include innerbox(0, 1);
    }
    .form-item,
    .form-actions {
        display: inline-block;
        margin-right: gutter();
    }
}

#webform-client-form-69 {
    >div {
        text-align: center;
    }
}
